name: Build & deploy portfolio

on:
  push:
    branches-ignore: ['gh-pages']
  pull_request:
    branches-ignore: ['gh-pages']

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: Checkout repository
      - uses: actions/setup-node@v2
        name: Setup Node.js
      - name: Install package with yarn
        run: yarn --frozen-lockfile
      - name: Lint code with eslint & stylelint
        run: yarn lint:js && yarn lint:css
        continue-on-error: true
      - name: Build site with svelte-kit
        run: yarn build
      - name: Deploy site to GitHub pages
        if: github.ref == 'refs/heads/master'
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          branch: gh-pages
          single-commit: true
          folder: build/portfolio
